<form action="<%= track_notes_url(params[:id]) %>" method="POST">
  <%= csrf_token %>

  <textarea name="note[text]" id="text" rows="8" cols="50"><%=@note.text%>
  </textarea>

  <input type="submit">
</form>