<% url = (action == :new ? album_tracks_url(params[:album_id]) : track_url(@track))%>
<% title = (action == :new ? "New Track" : "Edit Track")%>

<h3><%=title%></h3>

<form action="<%=url%>" method="POST">
  <%= csrf_token %>
  <%= request_field("PATCH") if action == :edit %>

  <p>
  <label for="name">Track Name</label>
  <input type="text" name="track[name]" id="name" value="<%=@track.name%>">
  </p>

  <p>
  <label for="album">Album</label>
  <select name="track[album_id]">
    <%@albums.each do |album|%>
    <% this_album = album.id == @track.album_id || album.id.to_s == params[:album_id] %>
      <option value="<%=album.id%>" <%= 'selected'.html_safe if this_album%> ><%=album.name%></option>
    <% end %>
  </select>
  </p>

  <input type="radio" name="track[bonus]" value="false">Regular Track
  <input type="radio" name="track[bonus]" value="true">Bonus Track

  <p>
  <label for="lyrics">Lyrics</label>
  <textarea name="track[lyrics]" id="lyrics" rows="8" cols="50"><%=@track.lyrics%></textarea>
  </p>

  <input type="submit">
</form>