<h1><%=@track.name%></h1>
<h2>(<%=link_to @album.name, album_url(@album)%>)</h2>
<h3>(<%=link_to @band.name, band_url(@band)%>)</h3>
<p>
<%= link_to "Add More Tracks", new_album_track_url(params[:id]) if admin?%>
</p>
<h2>Lyrics</h2>

<p>
<pre><%= ugly_lyrics(@track.lyrics)%></pre>
</p>
<br>

<%= link_to "Edit these lyrics!", edit_track_url(@track) if admin?%>
<br>

<h3>Comments</h3>
<% @notes.each do |note| %>
 <p><%=note.text%><%= button_to "Delete", note_url(note), method: :delete if admin? || current_user.id == note.user_id %></p>
<% end %>

Submit a Comment!
<%= render "notes/note" %>

<br><br>
<%= button_to "Delete This Track", track_url(@track), method: :delete if admin?%>
