<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Music App, <%=@user.email%>!</h1>
    <p>
      You're just one short step away from completing your signup with Music App!
      Please click this link to confirm: <%= link_to "Confirm Signup", @url %>
    </p>
  </body>
</html>