<% submit_value = (controller == "users" ? "Sign Up" : "Log In")%>
<% action = (controller == "users" ? users_url : session_url)%>

<h1><%=submit_value%></h1>

<form action="<%= action%>" method="POST">
  <%= csrf_token %>

  <p>
  <label for="email">E-Mail Address</label>
  <input type="text" name="user[email]" id="email" value="<%=@user.email%>">
  </p>

  <p>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  </p>

  <input type="submit" value="<%=submit_value%>">
</form>