<% url = (action == :new ? band_albums_url(params[:band_id]) : album_url(@album))%>
<% title = (action == :new ? "New Album" : "Edit Album")%>

<h1><%=title%></h1>

<form action="<%=url%>" method="POST">
  <%= csrf_token %>
  <%= request_field("PATCH") if action == :edit %>

  <p>
  <label for="name">Album Name</label>
  <input type="text" name="album[name]" id="name" value="<%=@album.name%>">
  </p>

  <p>
  <label for="band">Recording Band</label>
  <select name="album[band_id]">
    <%@bands.each do |band|%>
      <% this_band = (band.id == @album.band_id || band.id.to_s == params[:band_id]) %>
      <option value="<%=band.id%>" <%= 'selected'.html_safe if this_band%> ><%=band.name%></option>
    <% end %>
  </select>
  </p>

  <input type="radio" name="album[live]" value="true">Live Recording
  <input type="radio" name="album[live]" value="false">Studio Recording

  <input type="submit">
</form>