<h1><%=@album.name%></h1>
<p>
<h2>(<%= link_to @band.name, band_url(@band) %>)</h2>
<%= link_to "Add More Tracks", new_album_track_url(params[:id]) if admin?%>
</p>
<h2>Tracks</h2>

<% @tracks.each do |track| %>
  <%= link_to track.name, track_url(track)%>
  <%= button_to "(Delete)", track_url(track), method: :delete if admin?%>
  <br>
<% end %>