<% url = (action == :new ? bands_url : band_url(@band))%>
<% title = (action == :new ? "New Band" : "Edit Band")%>

<h1><%=title%></h1>

<form action="<%=url%>" method="POST">
  <%= csrf_token %>
  <%= request_field("PATCH") if action == :edit %>

  <p>
  <label for="name">Band Name</label>
  <input type="text" name="band[name]" id="name" value="<%=@band.name%>">
  </p>

  <input type="submit">
</form>