<h1><%=@band.name%></h1>
<p>
<%= link_to "Add More Albums", new_band_album_url(params[:id]) if admin?%>
</p>
<h2>Albums</h2>

<% @albums.each do |album| %>
  <%= link_to album.name, album_url(album)%>
  <%= link_to "(Add a Track)", new_album_track_url(album) if admin?%>
  <%= button_to "Delete", album_url, method: :delete if admin?%>
  <br>
<% end %>