<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Welcome, <%= current_user.email%>!
  <%= button_to "Log Out", session_url, method: :delete %>
<% elsif !request.original_url.match('session') %>
  <%= link_to "Log In", new_session_url%>
<% else %>
  <%= link_to "Log In", new_session_url%>
  <%= link_to "Sign Up", new_user_url%>
<% end%>
<% unless flash[:errors].nil? || flash[:errors].empty? %>
  <p><%= flash[:errors] %></p>
<% end %>
<% unless flash[:notice].nil? || flash[:notice].empty? %>
  <p><%= flash[:notice] %></p>
<% end %>
<br>
<%= link_to "Back to Bands Index", bands_url%>
<br>
<br>

<%= yield %>

</body>
</html>
